{% extends "pdepbase.html" %}

{% block title %}Delete Species from Network{% endblock %}

{% block navbar_items %}
<a href="{% url pdep.views.index %}">MEASURE</a> &raquo;
<a href="{% url pdep.views.networkIndex networkKey=networkKey%}">Network {{ networkKey }}</a> &raquo;
<a href="{% url pdep.views.networkDeleteSpecies networkKey=networkKey species=species.label%}">Delete Species "{{ species.label }}"</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Delete Species from Network {{ network.title }}{% endblock %}

{% block extrahead %}
{% endblock %}

{% block page_body %}

<form action="" method="POST">{% csrf_token %}
<p>
Are you sure you wish to delete species "{{ species.label }}" from the network?
This action cannot be undone.
</p>
<p>
<input type="submit" value="Cancel" id="submit_no" name="no"/>
<input type="submit" value="Delete species" id="submit_yes" name="yes"/>
</p>
</form>

{% endblock %}
